.hero-detail-graph {
    width: 100%;
    height: 100%;
    background-color: rgba(10, 15, 30, 0.9);
}

.react-flow__controls {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    display: flex !important;
    flex-direction: column !important;
    background-color: #1c1e29 !important;
    border-radius: 8px !important;
    padding: 5px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
    z-index: 0 !important;
    pointer-events: auto !important;
}

.react-flow__controls-button {
    background-color: #007cf0 !important;
    border: none !important;
    color: #ffffff !important;
    border-radius: 4px !important;
    padding: 8px !important;
    margin: 3px 0 !important;
    cursor: pointer !important;
}

.react-flow__controls-button:hover {
    background-color: #005bb5 !important;
}

.react-flow__controls-button:active {
    background-color: #004494 !important;
}

.react-flow__controls-button:focus {
    outline: none !important;
}

.react-flow__renderer {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 60px;
    bottom: 20px;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
}

.react-flow__node {
    background-color: #282c34;
    color: #282c34;
    border: 2px solid #007cf0;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.react-flow__node:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.react-flow__node.selected {
    border-color: #005bb5;
    box-shadow: 0 6px 16px rgba(0, 123, 240, 0.5);
}

.react-flow__node:focus {
    outline: none;
    border-color: #ff9800;
}